body {
    background: linear-gradient(135deg, #007BFF, #0056b3);
    color: rgb(52, 51, 51);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.splash-container {
    text-align: center;
}

.splash-container h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.splash-container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.splash-container button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: white;
    color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.splash-container button:hover {
    background-color: #f4f4f4;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #007BFF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
